<!--================Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="banner_content">
        <h2 style=" font-weight: 100;">Welcome To <br />Venting Hub</h2>
        <p>We're Here To Listen.</p>
        <a class="banner_btn" href="/schedule">Book Now</a>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Price Area =================-->
<section class="price_area p_120">
  <div class="container">
    <div class="main_title">
      <h2>SESSIONS PRICING</h2>
    </div>
    <div class="price_inner row">
      <div class="col-lg-3 col-sm-6 p0">
        <div class="price_item">
          <div class="price_text">
            <h3>1 Session</h3>
            <h5></h5>
            <h2>$39</h2>
            <h5><span style="color:blue">✓</span> 1 Session in total.</h5>
            <h5>
              <span style="color:blue">✓</span> Customize your date and time in
              the next step!
            </h5>
          </div>
          <a class="price_btn" [routerLink]="['/subscription', '39']"
            >Book now</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 p0">
        <div class="price_item">
          <div class="price_text">
            <h3>2 Sessions</h3>
            <h5></h5>
            <h2>$75</h2>
            <h5>
              <span style="color:blue">✓</span> 2 Sessions a week for 1 month.
            </h5>
            <!-- <h5><span style="color:blue">✓</span> 8 Sessions in total.</h5> -->
          </div>
          <a class="price_btn" [routerLink]="['/subscription', '75']"
            >Book now</a
          >
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container">
    <div class="main_title">
      <h2>SUBSCRIPTION PRICING</h2>
    </div>
    <div class="price_inner row m0">
      <div class="col-lg-3 col-sm-6 p0">
        <div class="price_item">
          <div class="price_text">
            <h3>Basic Subscription</h3>
            <h5></h5>
            <h2>$149<span>/mo</span></h2>
            <h5>
              <span style="color:blue">✓</span> 1 Sessions a week,monthly.
            </h5>
            <h5><span style="color:blue">✓</span> 4 Sessions in total.</h5>
            <!-- <h5>
              <span style="color:blue">✓</span> Customize your dates and times
              in the next step!
            </h5> -->
          </div>
          <a class="price_btn" [routerLink]="['/subscription', '149']"
            >Subscribe now</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 p0">
        <div class="price_item">
          <div class="price_text">
            <h3>Premium Subscription</h3>
            <h5></h5>
            <h2>$300<span>/mo</span></h2>
            <h5>
              <span style="color:blue">✓</span> 2 Sessions a week , monthly.
            </h5>
            <h5><span style="color:blue">✓</span> 8 Sessions in total.</h5>
            <!-- <h5>
              <span style="color:blue">✓</span> Customize your dates and times
              in the next step!
            </h5> -->
          </div>
          <a class="price_btn" [routerLink]="['/subscription', '300']"
            >Subscribe now</a
          >
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 p0">
        <div class="price_item">
          <div class="price_text">
            <h3>Custom Subscription</h3>
            <h5></h5>
            <h2>TBD</h2>
            <h5>
              <span style="color:blue">✓</span> Email or contact us for a custom
              plan!
            </h5>
            <h5>
              <span style="color:blue">✓</span> The links will be at the bottom
              to contact us.
            </h5>
          </div>
          <a class="price_btn" [routerLink]="['/subscription', '500']"
            >Subscribe now</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Price Area =================-->
